@font-face {
  font-family: "RoadRadio";
  font-weight: 700;
  src: url(../fonts/RoadRadio-Bold.woff2);
}
@font-face {
  font-family: "RoadRadio";
  font-weight: 300;
  src: url(../fonts/RoadRadio-Light.woff2);
}
@font-face {
  font-family: "Muller";
  font-weight: 400;
  src: url(../fonts/MullerRegular.woff2);
}
* {
  margin: unset;
  padding: unset;
  outline: unset;
  border: unset;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  font-variant-numeric: lining-nums;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

:root {
  --gap: 30px;
  --full: minmax(var(--gap), 1fr);
  --content: min(1280px, 100% - var(--gap) * 2);
  --breakout: minmax(0, 91px);
}
@media (max-width: 960px) {
  :root {
    --gap: 20px;
  }
}

h1, h2, h3, h4, strong {
  font-family: "RoadRadio", sans-serif;
}

html, body {
  font-family: "Muller", sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  scroll-behavior: smooth;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow-x: clip;
}

section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: [full-start] var(--full) [breakout-start] var(--breakout) [content-start] var(--content) [content-end] var(--breakout) [breakout-end] var(--full) [full-end];
}
section > * {
  grid-column: content;
}
section .full {
  grid-column: full;
}
section .breakout {
  grid-column: breakout;
}

html:has(dialog[open]) {
  overflow-y: hidden;
  margin-right: var(--scrollbar-width);
}

main {
  position: relative;
}

section.main {
  height: 100vh;
  background-color: black;
  color: white;
  -webkit-animation: showcontent 1s 6s forwards;
          animation: showcontent 1s 6s forwards;
}
section.main div.container {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-column: full;
}
section.main div.logo_wrap {
  width: 100vw;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
@media (max-width: 1600px) {
  section.main div.logo_wrap {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@media (max-width: 1280px) {
  section.main div.logo_wrap {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
}
@media (max-width: 960px) {
  section.main div.logo_wrap {
    -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
            transform: scale(0.4);
    -webkit-animation: scale_mobile 0.5s 4.5s forwards;
            animation: scale_mobile 0.5s 4.5s forwards;
  }
}
@media (max-width: 640px) {
  section.main div.logo_wrap {
    -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
            transform: scale(0.2);
  }
}
section.main div.animation {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1546px;
  font-family: "RoadRadio";
}
section.main div.animation div.logo {
  position: absolute;
  display: grid;
  font-size: 80px;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  opacity: 0;
  -webkit-animation: show 0.5s 1s forwards, centerlogo 0.5s 3.5s forwards, scale 0.5s 4.5s forwards;
          animation: show 0.5s 1s forwards, centerlogo 0.5s 3.5s forwards, scale 0.5s 4.5s forwards;
  text-transform: uppercase;
  left: 0;
}
section.main div.animation div.logo strong.gl {
  margin-right: 326px;
  -webkit-animation: margingl 0.5s 3.5s forwards;
          animation: margingl 0.5s 3.5s forwards;
}
section.main div.animation div.logo strong.in {
  margin-right: 463px;
  -webkit-animation: marginin 0.5s 3.5s forwards;
          animation: marginin 0.5s 3.5s forwards;
}
section.main div.animation div.logo div.border {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 150%;
}
section.main div.animation div.logo div.border span:nth-child(1) {
  display: block;
  width: 0px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: width 0.1s 5s forwards;
          animation: width 0.1s 5s forwards;
}
section.main div.animation div.logo div.border span:nth-child(2) {
  display: block;
  width: 10px;
  height: 0px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: height 0.1s 5.1s forwards;
          animation: height 0.1s 5.1s forwards;
}
section.main div.animation div.logo div.border span:nth-child(3) {
  display: block;
  width: 0px;
  height: 10px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation: width 0.1s 5.2s forwards;
          animation: width 0.1s 5.2s forwards;
}
section.main div.animation div.logo div.border span:nth-child(4) {
  display: block;
  width: 10px;
  height: 0px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-animation: height 0.1s 5.3s forwards;
          animation: height 0.1s 5.3s forwards;
}
section.main div.animation div.full {
  display: grid;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  grid-gap: 36px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
section.main div.animation div.full div {
  display: grid;
}
section.main div.animation div.full div strong {
  font-size: 80px;
}
section.main div.animation div.full div span {
  font-size: 19.5px;
}
section.main div.animation div.full div.gleaning {
  opacity: 0;
  -webkit-animation: show 0.5s 0s forwards, hide 1s 3s forwards;
          animation: show 0.5s 0s forwards, hide 1s 3s forwards;
}
section.main div.animation div.full div.gleaning span {
  -webkit-animation: show 0.5s 0s forwards;
          animation: show 0.5s 0s forwards;
}
section.main div.animation div.full div.investment {
  opacity: 0;
  -webkit-animation: show 0.5s 0.25s forwards, hide 1s 3s forwards;
          animation: show 0.5s 0.25s forwards, hide 1s 3s forwards;
}
section.main div.animation div.full div.investment span {
  -webkit-animation: show 0.5s 0.25s forwards;
          animation: show 0.5s 0.25s forwards;
}
section.main div.animation div.full div.combinations {
  opacity: 0;
  -webkit-animation: show 0.5s 0.5s forwards, hide 1s 3s forwards;
          animation: show 0.5s 0.5s forwards, hide 1s 3s forwards;
}
section.main div.animation div.full div.combinations span {
  -webkit-animation: show 0.5s 0.5s forwards;
          animation: show 0.5s 0.5s forwards;
}
section.main div.animation div.text {
  opacity: 0;
  -webkit-animation: show 1s 5s forwards;
          animation: show 1s 5s forwards;
  font-size: 31.75px;
  text-align: center;
  margin-top: 24px;
  text-transform: uppercase;
}

section.about {
  padding-top: 78px;
  padding-bottom: 104px;
  background-color: black;
  color: white;
}
@media (max-width: 960px) {
  section.about {
    padding-bottom: 22px;
    padding-top: 22px;
  }
}
section.about div.container {
  grid-column: breakout;
}
section.about h2 {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  font-weight: 400;
  font-size: 53px;
  color: #fff;
  margin-bottom: 58px;
}
@media (max-width: 960px) {
  section.about h2 {
    font-size: 22px;
    margin-bottom: 34px;
  }
}
section.about h2::before {
  content: "01";
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 134px;
  padding-right: 43px;
  margin-right: 44px;
  border-right: 1px solid white;
  font-weight: 400;
  font-size: 95px;
}
@media (max-width: 960px) {
  section.about h2::before {
    height: 105px;
    font-size: 64px;
    padding-right: 27px;
    margin-right: 27px;
  }
}
section.about div.text {
  display: grid;
}
section.about div.text strong {
  font-weight: 400;
  font-size: 27px;
  margin-bottom: 48px;
}
@media (max-width: 960px) {
  section.about div.text strong {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
section.about div.text p {
  font-weight: 400;
  font-size: 16px;
  color: #808080;
}
section.about div.text p + p {
  margin-top: 26px;
}
section.about div.advantages {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 104px;
}
@media (max-width: 960px) {
  section.about div.advantages {
    grid-auto-flow: unset;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin-top: 22px;
  }
}
@media (max-width: 640px) {
  section.about div.advantages {
    grid-template-columns: 1fr;
  }
}
section.about div.advantages div.advantage {
  display: grid;
}
section.about div.advantages strong {
  font-weight: 700;
  font-size: 84px;
}
section.about div.advantages span {
  font-family: "RoadRadio";
  font-weight: 400;
  font-size: 18px;
  color: #808080;
}

section.projects {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: black;
  color: white;
}
section.projects div.container {
  grid-column: full;
}
section.projects div.swiper {
  width: 100%;
  min-width: 0;
  aspect-ratio: 16/9;
  background-color: rgba(255, 255, 255, 0.05);
}
@media (max-width: 960px) {
  section.projects div.swiper {
    aspect-ratio: 1/1;
  }
}
@media (max-width: 640px) {
  section.projects div.swiper {
    aspect-ratio: 3/4;
  }
}
section.projects div.swiper-slide {
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
section.projects div.swiper-navigation {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 24px;
  width: 100%;
  position: absolute;
  bottom: 175px;
  z-index: 9;
}
@media (max-width: 960px) {
  section.projects div.swiper-navigation {
    display: none;
  }
}
section.projects div.swiper-navigation div.arrow {
  cursor: pointer;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 75px;
  height: 75px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
section.projects div.swiper-navigation div.arrow svg path {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
section.projects div.swiper-navigation div.arrow:last-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.projects div.swiper-navigation div.arrow.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.3;
}
section.projects div.swiper-navigation div.arrow:hover {
  background-color: white;
}
section.projects div.swiper-navigation div.arrow:hover svg path {
  stroke: black;
}
section.projects div.swiper-navigation div.pages {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}
section.projects div.swiper-navigation div.pages span.hide {
  opacity: 0;
}
section.projects div.swiper-navigation div.pages div.divide {
  width: 104px;
  height: 1px;
  background-color: white;
}
section.projects div.swiper-pagination {
  position: absolute;
  top: unset;
  left: unset;
  right: unset;
  bottom: 16px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 5px;
  display: none;
  padding-left: var(--gap);
  padding-right: var(--gap);
}
@media (max-width: 960px) {
  section.projects div.swiper-pagination {
    display: grid;
  }
}
section.projects div.swiper-pagination span {
  width: 100%;
  height: 4px;
  border-radius: unset;
  margin: unset !important;
  background-color: #090808;
  opacity: 1;
}
section.projects div.swiper-pagination span.swiper-pagination-bullet-active {
  background-color: #808080;
}
section.projects div.project {
  position: relative;
  width: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  grid-gap: 9px;
  margin-top: 28px;
  margin-bottom: 44px;
  z-index: 9;
}
@media (max-width: 960px) {
  section.projects div.project {
    padding-left: var(--gap);
    padding-right: var(--gap);
  }
}
@media (max-width: 640px) {
  section.projects div.project {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
section.projects div.project div.logo {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 320px;
  background-color: white;
}
@media (max-width: 960px) {
  section.projects div.project div.logo {
    width: 240px;
  }
}
@media (max-width: 640px) {
  section.projects div.project div.logo {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 345px;
  }
}
section.projects div.project div.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  max-width: 50%;
  max-height: 50%;
}
@media (max-width: 640px) {
  section.projects div.project div.logo img {
    max-width: 70%;
    max-height: 70%;
  }
}
section.projects div.project div.text {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 28px;
  background-color: white;
  color: #090808;
  padding: 30px 54px;
  max-width: 740px;
  width: 100%;
}
@media (max-width: 960px) {
  section.projects div.project div.text {
    padding: 30px;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}
@media (max-width: 640px) {
  section.projects div.project div.text {
    display: none;
  }
}
section.projects div.project div.text span.adress {
  font-size: 10px;
  line-height: 127%;
  text-transform: uppercase;
}
section.projects div.project div.text span.description {
  font-size: 14px;
  line-height: 127%;
  text-transform: uppercase;
}
section.projects div.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -o-border-image: fill 1 linear-gradient(136deg, rgba(0, 0, 0, 0.37) 50%, rgba(10, 10, 10, 0) 75%, rgba(19, 19, 19, 0) 100%);
     border-image: fill 1 linear-gradient(136deg, rgba(0, 0, 0, 0.37) 50%, rgba(10, 10, 10, 0) 75%, rgba(19, 19, 19, 0) 100%);
}

section.advantages {
  padding-top: 72px;
  padding-bottom: 104px;
  background-color: black;
  color: white;
}
@media (max-width: 960px) {
  section.advantages {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
section.advantages div.container {
  grid-column: breakout;
}
section.advantages h2 {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  font-weight: 400;
  font-size: 53px;
  color: #fff;
  margin-bottom: 58px;
}
@media (max-width: 960px) {
  section.advantages h2 {
    font-size: 22px;
    margin-bottom: 34px;
  }
}
section.advantages h2::before {
  content: "02";
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 134px;
  padding-right: 43px;
  margin-right: 44px;
  border-right: 1px solid white;
  font-weight: 400;
  font-size: 95px;
}
@media (max-width: 960px) {
  section.advantages h2::before {
    height: 105px;
    font-size: 64px;
    padding-right: 27px;
    margin-right: 27px;
  }
}
section.advantages div.list {
  display: grid;
  grid-gap: 138px;
}
@media (max-width: 960px) {
  section.advantages div.list {
    grid-gap: 36px;
  }
}
section.advantages div.advantage {
  counter-increment: list;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 210px;
}
@media (max-width: 960px) {
  section.advantages div.advantage {
    grid-template-columns: 1fr;
    margin-bottom: unset;
  }
}
section.advantages div.advantage div.text {
  position: relative;
  display: grid;
  grid-gap: 86px;
  z-index: 1;
}
@media (max-width: 960px) {
  section.advantages div.advantage div.text {
    grid-gap: 30px;
  }
}
section.advantages div.advantage div.text h3 {
  font-family: "Muller", sans-serif;
  display: grid;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 24px;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  section.advantages div.advantage div.text h3 {
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    text-align: center;
    grid-gap: 21px;
    font-size: 20px;
  }
}
section.advantages div.advantage div.text h3:before, section.advantages div.advantage div.text h3:after {
  content: counter(list);
  font-family: "RoadRadio", sans-serif;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 141px;
  height: 141px;
  border: 1px solid white;
  border-radius: 50%;
  font-weight: 700;
  font-size: 70px;
}
@media (max-width: 960px) {
  section.advantages div.advantage div.text h3:before, section.advantages div.advantage div.text h3:after {
    width: 107px;
    height: 107px;
    font-size: 48px;
  }
}
section.advantages div.advantage div.text span {
  font-weight: 400;
  font-size: 40px;
}
@media (max-width: 1280px) {
  section.advantages div.advantage div.text span {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  section.advantages div.advantage div.text span {
    font-size: 16px;
  }
}
section.advantages div.advantage div.image {
  width: 130%;
  margin-left: -30%;
  height: calc(100% + 210px);
  background-size: cover;
  -o-border-image: fill 1 linear-gradient(270deg, rgba(19, 19, 19, 0) 40%, rgba(19, 19, 19, 0.54) 100%);
     border-image: fill 1 -webkit-gradient(linear, right top, left top, color-stop(40%, rgba(19, 19, 19, 0)), to(rgba(19, 19, 19, 0.54)));
     border-image: fill 1 linear-gradient(270deg, rgba(19, 19, 19, 0) 40%, rgba(19, 19, 19, 0.54) 100%);
}
@media (max-width: 960px) {
  section.advantages div.advantage div.image {
    width: 100%;
    aspect-ratio: 324/221;
    margin-left: 32px;
    margin-top: -32px;
    height: auto;
    -o-border-image: fill 1 linear-gradient(0deg, rgba(19, 19, 19, 0) 40%, rgba(19, 19, 19, 0.54) 100%);
       border-image: fill 1 -webkit-gradient(linear, left bottom, left top, color-stop(40%, rgba(19, 19, 19, 0)), to(rgba(19, 19, 19, 0.54)));
       border-image: fill 1 linear-gradient(0deg, rgba(19, 19, 19, 0) 40%, rgba(19, 19, 19, 0.54) 100%);
  }
}
section.advantages div.advantage:nth-child(2n-1) div.text h3::after {
  display: none;
}
section.advantages div.advantage:nth-child(2n) div.text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: right;
  justify-items: end;
}
@media (max-width: 960px) {
  section.advantages div.advantage:nth-child(2n) div.text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: right;
    justify-items: center;
  }
}
@media (max-width: 960px) {
  section.advantages div.advantage:nth-child(2n) div.text h3::after {
    display: none;
  }
}
section.advantages div.advantage:nth-child(2n) div.text h3::before {
  display: none;
}
@media (max-width: 960px) {
  section.advantages div.advantage:nth-child(2n) div.text h3::before {
    display: grid;
  }
}
section.advantages div.advantage:nth-child(2n) div.image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: unset;
  -o-border-image: fill 1 linear-gradient(270deg, rgba(19, 19, 19, 0.54) 40%, rgba(19, 19, 19, 0) 100%);
     border-image: fill 1 -webkit-gradient(linear, right top, left top, color-stop(40%, rgba(19, 19, 19, 0.54)), to(rgba(19, 19, 19, 0)));
     border-image: fill 1 linear-gradient(270deg, rgba(19, 19, 19, 0.54) 40%, rgba(19, 19, 19, 0) 100%);
}
@media (max-width: 960px) {
  section.advantages div.advantage:nth-child(2n) div.image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: -32px;
  }
}

section.awards {
  margin-top: 81px;
  margin-bottom: 115px;
}
@media (max-width: 960px) {
  section.awards {
    margin-top: 52px;
    margin-bottom: 37px;
  }
}
section.awards h2 {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 58px;
  color: #808080;
}
@media (max-width: 960px) {
  section.awards h2 {
    font-size: 22px;
    margin-bottom: 32px;
  }
}
section.awards h2::before {
  content: "03";
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 134px;
  padding-right: 43px;
  margin-right: 44px;
  border-right: 1px solid #808080;
  font-weight: 400;
  font-size: 95px;
}
@media (max-width: 960px) {
  section.awards h2::before {
    height: 105px;
    font-size: 64px;
    padding-right: 27px;
    margin-right: 27px;
  }
}
section.awards div.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 175px;
}
@media (max-width: 1280px) {
  section.awards div.list {
    grid-gap: 32px;
  }
}
section.awards div.swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 960px) {
  section.awards div.swiper-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
section.awards div.swiper-slide {
  margin-top: unset !important;
}
section.awards div.swiper-pagination {
  position: static;
  display: none;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 4px;
  margin-top: 26px;
}
@media (max-width: 960px) {
  section.awards div.swiper-pagination {
    display: grid;
  }
}
section.awards div.swiper-pagination span {
  width: 100%;
  height: 4px;
  background-color: black;
  opacity: 1;
  margin: unset;
  border-radius: unset;
}
section.awards div.swiper-pagination span.swiper-pagination-bullet-active {
  background-color: #808080;
}
section.awards div.award {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
}
section.awards div.award img.logotype {
  justify-self: center;
  margin-bottom: 36px;
  width: 240px;
  height: 240px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
}
@media (max-width: 960px) {
  section.awards div.award img.logotype {
    width: 160px;
    height: 160px;
  }
}
section.awards div.award div.title {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 16px;
  font-family: "RoadRadio", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #090808;
  padding: 12px 0px;
  min-height: 94px;
}
@media (max-width: 960px) {
  section.awards div.award div.title {
    font-size: 24px;
  }
}
section.awards div.award div.table {
  position: relative;
  font-family: "RoadRadio", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #090808;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (max-width: 960px) {
  section.awards div.award div.table {
    font-size: 20px;
  }
}
section.awards div.award div.table div.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 21px;
}
section.awards div.award div.table div.row div.cell {
  margin-top: -1px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding: 12px 0px;
  padding-left: 50px;
}
@media (max-width: 960px) {
  section.awards div.award div.table div.row div.cell {
    padding-left: 4px;
    padding: 9px 0;
  }
}
section.awards div.award div.table:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  height: 100%;
  width: 1px;
  background-color: #808080;
}

section.team {
  margin-top: 80px;
  margin-bottom: 75px;
}
@media (max-width: 960px) {
  section.team {
    margin-top: 37px;
    margin-bottom: 24px;
  }
}
section.team h2 {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 58px;
  color: #808080;
}
@media (max-width: 960px) {
  section.team h2 {
    font-size: 22px;
    margin-bottom: 32px;
  }
}
section.team h2::before {
  content: "04";
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 134px;
  padding-right: 43px;
  margin-right: 44px;
  border-right: 1px solid #808080;
  font-weight: 400;
  font-size: 95px;
}
@media (max-width: 960px) {
  section.team h2::before {
    height: 105px;
    font-size: 64px;
    padding-right: 27px;
    margin-right: 27px;
  }
}
section.team div.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 27px 22px;
}
@media (max-width: 1280px) {
  section.team div.list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  section.team div.list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
section.team div.list div.person {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  position: relative;
}
section.team div.list div.person img {
  width: 100%;
  aspect-ratio: 343/518;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 960px) {
  section.team div.list div.person img {
    aspect-ratio: 162/244;
  }
}
section.team div.list div.person div.text {
  margin-top: 20px;
  display: grid;
  grid-gap: 6px;
  max-width: 320px;
}
@media (max-width: 960px) {
  section.team div.list div.person div.text {
    padding: 12px 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: unset;
    margin-top: unset;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    width: 100%;
  }
}
section.team div.list div.person div.text strong {
  font-family: "Muller", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #090808;
}
@media (max-width: 960px) {
  section.team div.list div.person div.text strong {
    color: white;
    font-size: 16px;
  }
}
section.team div.list div.person div.text strong br {
  display: none;
}
@media (max-width: 960px) {
  section.team div.list div.person div.text strong br {
    display: block;
  }
}
section.team div.list div.person div.text span {
  font-weight: 400;
  font-size: 22px;
  color: #808080;
}
@media (max-width: 960px) {
  section.team div.list div.person div.text span {
    font-size: 12px;
    color: #B1B1B1;
  }
}
section.team div.list div.person div.text br {
  display: none;
}
@media (max-width: 960px) {
  section.team div.list div.person div.text br {
    display: block;
  }
}
section.team div.list div.person:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

section.career {
  margin-top: 75px;
  margin-bottom: 75px;
}
@media (max-width: 960px) {
  section.career {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
section.career h2 {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 58px;
  color: #808080;
}
@media (max-width: 960px) {
  section.career h2 {
    font-size: 22px;
    margin-bottom: 32px;
  }
}
section.career h2::before {
  content: "05";
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 134px;
  padding-right: 43px;
  margin-right: 44px;
  border-right: 1px solid #808080;
  font-weight: 400;
  font-size: 95px;
}
@media (max-width: 960px) {
  section.career h2::before {
    height: 105px;
    font-size: 64px;
    padding-right: 27px;
    margin-right: 27px;
  }
}
section.career div.text {
  margin-bottom: 52px;
}
section.career div.text h3 {
  font-weight: 700;
  font-size: 44px;
  color: #090808;
  margin-bottom: 68px;
}
@media (max-width: 960px) {
  section.career div.text h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
section.career div.text span {
  font-weight: 400;
  font-size: 20px;
  color: #808080;
}
@media (max-width: 960px) {
  section.career div.text span {
    font-size: 14px;
  }
}
section.career div.accordion {
  margin-top: -1px;
  border-top: 1px solid #9F9F9F;
  border-bottom: 1px solid #9F9F9F;
}
section.career div.accordion div.accordion_caption {
  cursor: pointer;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  color: #090808;
}
section.career div.accordion div.accordion_caption svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section.career div.accordion div.accordion_wrap {
  display: grid;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 14px;
}
section.career div.accordion div.accordion_wrap strong {
  font-family: "Muller", sans-serif;
  font-weight: 700;
}
section.career div.accordion div.accordion_wrap a.button {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid black;
  font-weight: 700;
  padding: 12px 16px;
}
section.career div.accordion.open div.accordion_caption svg {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

section.cooperation {
  margin-top: 78px;
  margin-bottom: 104px;
}
@media (max-width: 960px) {
  section.cooperation {
    margin-top: 24px;
    margin-bottom: 44px;
  }
}
section.cooperation div.text {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 34px;
}
@media (max-width: 960px) {
  section.cooperation div.text {
    grid-gap: 25px;
    margin-bottom: 30px;
  }
}
section.cooperation div.text h2 {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  font-weight: 700;
  font-size: 70px;
  color: #808080;
}
@media (max-width: 960px) {
  section.cooperation div.text h2 {
    font-size: 22px;
  }
}
section.cooperation div.text h2::before {
  content: "06";
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 134px;
  padding-right: 43px;
  margin-right: 44px;
  border-right: 1px solid #808080;
  font-weight: 400;
  font-size: 95px;
}
@media (max-width: 960px) {
  section.cooperation div.text h2::before {
    height: 105px;
    font-size: 64px;
    padding-right: 23px;
    margin-right: 23px;
  }
}
section.cooperation div.text span {
  font-size: 20px;
  color: #808080;
}
@media (max-width: 960px) {
  section.cooperation div.text span {
    font-size: 14px;
  }
}
section.cooperation div.advantages {
  display: grid;
  margin-bottom: 50px;
}
section.cooperation div.advantages div.advantage {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 960px) {
  section.cooperation div.advantages div.advantage {
    grid-gap: 11px;
    display: grid;
    grid-template-areas: "Image Title" "Buttons Buttons";
  }
  section.cooperation div.advantages div.advantage div.description {
    display: contents;
  }
  section.cooperation div.advantages div.advantage div.description h4 {
    grid-area: Title;
  }
  section.cooperation div.advantages div.advantage div.description div.buttons {
    grid-area: Buttons;
  }
  section.cooperation div.advantages div.advantage div.description div.image {
    grid-area: Image;
  }
  section.cooperation div.advantages div.advantage:nth-child(2n) {
    grid-template-areas: "Title Image" "Buttons Buttons";
  }
  section.cooperation div.advantages div.advantage:nth-child(2n) div.buttons {
    justify-self: start;
  }
}
section.cooperation div.advantages div.advantage div.image {
  position: relative;
  width: 100%;
  max-width: 435px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  border-radius: 50%;
}
@media (max-width: 960px) {
  section.cooperation div.advantages div.advantage div.image {
    max-width: 141px;
  }
}
section.cooperation div.advantages div.advantage div.image img {
  position: relative;
  left: 21px;
  top: 21px;
  width: calc(100% - 42px);
  height: calc(100% - 42px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 999px;
}
@media (max-width: 960px) {
  section.cooperation div.advantages div.advantage div.image img {
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
  }
}
section.cooperation div.advantages div.advantage div.description h4 {
  font-family: "Muller", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 115%;
  color: #808080;
  text-transform: uppercase;
  margin-bottom: 29px;
  max-width: 700px;
}
@media (max-width: 960px) {
  section.cooperation div.advantages div.advantage div.description h4 {
    font-size: 15px;
    margin-top: 11px;
    margin-bottom: 11px;
    max-width: 360px;
  }
}
section.cooperation div.advantages div.advantage div.description div.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 11px 37px;
}
section.cooperation div.advantages div.advantage div.description div.buttons a.button {
  font-family: "RoadRadio", sans-serif;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  grid-gap: 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 115%;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  section.cooperation div.advantages div.advantage div.description div.buttons a.button {
    font-size: 12px;
    grid-gap: 11px;
  }
}
section.cooperation div.advantages div.advantage div.description div.buttons a.button div.arrow {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  border-radius: 50%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 960px) {
  section.cooperation div.advantages div.advantage div.description div.buttons a.button div.arrow {
    width: 60px;
    height: 60px;
  }
  section.cooperation div.advantages div.advantage div.description div.buttons a.button div.arrow svg {
    width: 50%;
    height: 50%;
  }
}
section.cooperation div.advantages div.advantage div.description div.buttons a.button div.arrow svg path {
  stroke: black;
  stroke-width: 1px;
}
section.cooperation div.advantages div.advantage:nth-child(2n) {
  grid-template-columns: auto -webkit-max-content;
  grid-template-columns: auto max-content;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  justify-items: end;
}
section.cooperation div.advantages div.advantage:nth-child(2n) div.image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
section.cooperation div.advantages div.advantage:nth-child(2n) div.description {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 960px) {
  section.cooperation div.advantages div.advantage + div.advantage {
    margin-top: 34px;
  }
}
section.cooperation div.tenders h3 {
  font-weight: 700;
  font-size: 44px;
  color: #090808;
  margin-bottom: 34px;
}
@media (max-width: 960px) {
  section.cooperation div.tenders h3 {
    font-size: 24px;
    margin-bottom: 18px;
  }
}
section.cooperation div.tenders div.tender {
  display: grid;
  grid-gap: 8px;
  border-bottom: 1px solid #9F9F9F;
  padding-top: 12px;
  padding-bottom: 12px;
}
section.cooperation div.tenders div.tender:first-child {
  border-top: 1px solid #9F9F9F;
}
section.cooperation div.tenders div.tender strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #090808;
}
section.cooperation div.tenders div.tender span {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  color: #afafaf;
}
@media (max-width: 960px) {
  section.cooperation div.tenders div.tender span {
    font-size: 12px;
  }
}

dialog {
  margin: auto;
}
dialog::-ms-backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.85);
}
dialog::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.85);
}
dialog::-webkit-scrollbar {
  width: 0;
  height: 0;
}

dialog[data-modal-name=project] {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: transparent;
}
dialog[data-modal-name=project] div.cross {
  position: absolute;
  top: 28px;
  right: 28px;
  z-index: 9;
  cursor: pointer;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 73px;
  height: 73px;
  background-color: black;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 640px) {
  dialog[data-modal-name=project] div.cross {
    top: 12px;
    right: 12px;
    background-color: transparent;
  }
}
dialog[data-modal-name=project] div.cross:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
dialog[data-modal-name=project] div.container {
  width: 100%;
  max-width: 867px;
  background: white;
  padding: 20px;
}
dialog[data-modal-name=project] h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 115%;
  color: #090808;
}
dialog[data-modal-name=project] form {
  display: grid;
  font-family: "RoadRadio", sans-serif;
}
dialog[data-modal-name=project] form input[type=text], dialog[data-modal-name=project] form input[type=tel], dialog[data-modal-name=project] form input[type=email] {
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  border-bottom: 1px solid #808080;
  padding: 9px 3px;
  margin-top: 19px;
}
dialog[data-modal-name=project] form input[type=text]::-webkit-input-placeholder, dialog[data-modal-name=project] form input[type=tel]::-webkit-input-placeholder, dialog[data-modal-name=project] form input[type=email]::-webkit-input-placeholder {
  color: #808080;
  text-transform: uppercase;
}
dialog[data-modal-name=project] form input[type=text]::-moz-placeholder, dialog[data-modal-name=project] form input[type=tel]::-moz-placeholder, dialog[data-modal-name=project] form input[type=email]::-moz-placeholder {
  color: #808080;
  text-transform: uppercase;
}
dialog[data-modal-name=project] form input[type=text]:-ms-input-placeholder, dialog[data-modal-name=project] form input[type=tel]:-ms-input-placeholder, dialog[data-modal-name=project] form input[type=email]:-ms-input-placeholder {
  color: #808080;
  text-transform: uppercase;
}
dialog[data-modal-name=project] form input[type=text]::-ms-input-placeholder, dialog[data-modal-name=project] form input[type=tel]::-ms-input-placeholder, dialog[data-modal-name=project] form input[type=email]::-ms-input-placeholder {
  color: #808080;
  text-transform: uppercase;
}
dialog[data-modal-name=project] form input[type=text]::placeholder, dialog[data-modal-name=project] form input[type=tel]::placeholder, dialog[data-modal-name=project] form input[type=email]::placeholder {
  color: #808080;
  text-transform: uppercase;
}
dialog[data-modal-name=project] form label.file {
  margin-top: 47px;
}
dialog[data-modal-name=project] form label.file span.button {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: 1px solid #808080;
  width: 100%;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  color: #808080;
  text-transform: uppercase;
  padding: 15px 10px 10px;
}
dialog[data-modal-name=project] form label.file span.filename {
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  line-height: 115%;
  color: #090808;
}
dialog[data-modal-name=project] form label.file input {
  display: none;
}
dialog[data-modal-name=project] form label.file.added span.button {
  display: none;
}
dialog[data-modal-name=project] form label.file.added span.filename {
  display: block;
}
dialog[data-modal-name=project] form label.checkbox {
  display: block;
  margin-top: 18px;
  position: relative;
  padding-left: 37px;
  cursor: pointer;
  position: relative;
}
dialog[data-modal-name=project] form label.checkbox input {
  border: unset;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -999;
  opacity: 0;
}
dialog[data-modal-name=project] form label.checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
dialog[data-modal-name=project] form label.checkbox:has(:checked)::before {
  background-color: #808080;
}
dialog[data-modal-name=project] form label.checkbox:has(:checked)::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: 4px;
  background-image: url(../images/checkbox_tick.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
dialog[data-modal-name=project] form label.checkbox span {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #808080;
  max-width: 622px;
}
dialog[data-modal-name=project] form label.checkbox a {
  text-decoration: underline;
}
dialog[data-modal-name=project] form label.checkbox a:hover {
  text-decoration: none;
}
dialog[data-modal-name=project] form button {
  font-family: inherit;
  padding: 15px 120px;
  width: 100%;
  max-width: 371px;
  height: 61px;
  background-color: #090808;
  color: white;
  margin-top: 35px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  text-transform: uppercase;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes margingl {
  0% {
    margin-right: 326px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes margingl {
  0% {
    margin-right: 326px;
  }
  100% {
    margin-right: 0px;
  }
}
@-webkit-keyframes marginin {
  0% {
    margin-right: 463px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes marginin {
  0% {
    margin-right: 463px;
  }
  100% {
    margin-right: 0px;
  }
}
@-webkit-keyframes centerlogo {
  0% {
    left: 0;
  }
  100% {
    left: calc(50% - 175px);
  }
}
@keyframes centerlogo {
  0% {
    left: 0;
  }
  100% {
    left: calc(50% - 175px);
  }
}
@-webkit-keyframes scale {
  0% {
    font-size: 80px;
    left: calc(50% - 175px);
  }
  100% {
    font-size: 140px;
    left: calc(50% - 306px);
  }
}
@keyframes scale {
  0% {
    font-size: 80px;
    left: calc(50% - 175px);
  }
  100% {
    font-size: 140px;
    left: calc(50% - 306px);
  }
}
@-webkit-keyframes scale_mobile {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(0.45);
            transform: scale(0.45);
  }
}
@keyframes scale_mobile {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(0.45);
            transform: scale(0.45);
  }
}
@-webkit-keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes showcontent {
  0% {
    height: 100vh;
  }
  100% {
    height: 60vh;
  }
}
@keyframes showcontent {
  0% {
    height: 100vh;
  }
  100% {
    height: 60vh;
  }
}/*# sourceMappingURL=about.css.map */