doctype html
html(lang="ru")
    include common/_head.pug
    block links
        link(rel="stylesheet", href="css/discount.css")
    body

        main

            div.discount

                div.intro

                    div.black
                        h2 Акция «недвижимость лучше, #[br]чем депозит»*
                    div.green
                        span Гарантированная #[br]доходность #[br]на вашу #[br]недвижимость#[br]#[span 15%+] #[br]годовых
                    div.border
                        span Высокая ключевая ставка — временный фактор. #[br]А коммерческая недвижимость — надежно, #[br]предсказуемо и прибыльно всегда
                    div.note
                        span *По мнению аналитиков инвестиционно-строительной компании Glincom

                    div.infographic
                        img(src="images/discount/1.svg", alt="").desktop
                        img(src="images/discount/1m.svg", alt="").mobile

                div.stages
                    div.border
                        h2 как это работает?
                    div.stage
                        div.number
                            img(src="images/discount/arrow.svg", alt="").desktop
                            div.line
                        div.infographic
                            img(src="images/discount/2.svg", alt="").desktop
                            img(src="images/discount/2m.svg", alt="").mobile
                    div.stage
                        div.number
                            img(src="images/discount/arrow.svg", alt="")
                            div.line
                        div.infographic
                            img(src="images/discount/3.svg", alt="").desktop
                            img(src="images/discount/3m.svg", alt="").mobile
                    div.stage
                        div.number
                            img(src="images/discount/arrow.svg", alt="")
                            div.line
                        div.infographic
                            img(src="images/discount/4.svg", alt="").desktop
                            img(src="images/discount/4m.svg", alt="").mobile
                    div.stage
                        div.number
                            img(src="images/discount/arrow.svg", alt="")
                            div.line
                        div.infographic
                            img(src="images/discount/5.svg", alt="").desktop
                            img(src="images/discount/5m.svg", alt="").mobile
                    div.stage
                        div.number
                            img(src="images/discount/arrow.svg", alt="")
                            div.line
                        div.infographic
                            img(src="images/discount/6.svg", alt="").desktop
                            img(src="images/discount/6m.svg", alt="").mobile
                    div.result
                        div.number
                            img(src="images/discount/arrow.svg", alt="")
                            div.line
                            span Пример расчета
                        div.apartville
                            span Стрит-Ритейл в МФК APARTVILLE
                            h2 196.7 м#[sup 2] - 59 010 000 Руб.
                            div.list
                                div.item 1 линия дмитровского ш. #[br]Интенсивный трафик
                                div.item 2 входа
                                div.item Высокие потолки #[br]все коммуникации
                        div.results
                            div.item
                                span стоимость
                                span 59 010 000 руб.
                            div.item
                                span арендный поток #[br]за 360 дней
                                span 8 728 562 руб.
                            div.item
                                span Арендный поток #[br]в месяц
                                span 737 625 руб.
                            div.item
                                span Доходность
                                span 15% годовых
                        div.benefit
                            span #[strong ВЫГОДА ИНВЕСТОРА ЗА 360 ДНЕЙ] Арендатор (Glincom) или Покупатель (Инвестор) может найти Субарендатора по аналогичной или более высокой ставке. Таким образом, со 2-го года арендный поток будет    текущему, а Покупатель будет получать стабильный доход уже с первого дня владения недвижимостью. 

                div.glincom
                    div.about
                        h2 GLINCOM — 
                        span инвестиционная компания, реализующая проекты в области коммерческой недвижимости #[br]на территории московского региона. 
                        span Мы инвестируем в объекты строительства и редевелопмента с целью повышения качества #[br]недвижимости, создания торговых, офисных центров и комплексов апартаментов,  #[br]отвечающих всем тенденциям современного рынка.

                    div.advantages
                        div.advantage
                            strong 12
                            span лет на рынке
                        div.advantage
                            strong 15
                            span проектов #[br]В портфеле #[br]компании
                    
                    div.infographic
                        img(src="images/discount/7.webp", alt="").desktop
                        img(src="images/discount/7m.webp", alt="").mobile

                    a.button оставить заявку