dialog(data-modal-name="lightbox")
    div.container
        div(data-modal-close).cross: include ../images/lightbox_cross.svg
        div.images
            div.swiper
                div.swiper-wrapper
            div.swiper-navigation
                div.arrow: include ../images/lightbox_arrow.svg
                div.line
                div.arrow: include ../images/lightbox_arrow.svg
        div.thumbs
            div.swiper
                div.swiper-wrapper